In [3]:
#Library imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

2024-12-03 01:54:07.129465: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-12-03 01:54:07.145179: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-12-03 01:54:07.149861: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-12-03 01:54:07.162840: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-12-03 01:54:08.336463: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [5]:
df = pd.read_csv('df.csv')

#### Feature engineering: we curate more variables which may be useful in our data analysis

SavingsRate: Measures how much a user desires to save relative to their income.

    Formula: Desired_Savings / Income

ExpenseRatio: Indicates how much of their income is being spent.

    Formula: Expenses / Income

NetSavings: Calculates the remaining amount after expenses and desired savings.

    Formula: Income - Expenses - Desired_Savings

In [6]:
# Savings Rate: Desired Savings as a percentage of Income
df['SavingsRate'] = df['Desired_Savings'] / (df['Income'])

# Expense Ratio: Expenses as a percentage of Income
df['ExpenseRatio'] = df['Expenses'] / (df['Income'])

# Net Savings: Income minus Expenses and Desired Savings
df['NetSavings'] = df['Income'] - df['Expenses'] - df['Desired_Savings']

# Display the first few rows to verify
df.head()

,Income,Age,Dependents,Occupation,City_Tier,Desired_Savings_Percentage,Desired_Savings,Disposable_Income,Expenses,SavingsRate,ExpenseRatio,NetSavings
0,44637.249636,49,0,Self_Employed,Tier_1,13.890948,6200.537192,11265.627707,33371.621929,0.138909,0.747618,5065.090514
1,26858.596592,34,2,Retired,Tier_2,7.160376,1923.176434,9676.818733,17181.777859,0.071604,0.639712,7753.642299
2,50367.605084,35,1,Student,Tier_3,13.997808,7050.360422,13891.450624,36476.154459,0.139978,0.724199,6841.090203
3,101455.600247,21,0,Self_Employed,Tier_3,16.455440,16694.965136,31617.953615,69837.646632,0.164554,0.688357,14922.988478
4,24875.283548,52,4,Professional,Tier_2,7.533982,1874.099434,6265.700532,18609.583016,0.075340,0.748115,4391.601098

In [7]:
df.to_csv('final_df.csv')